$colorTextPink: #f16d7f;
$bodyWidth: 1600px;
$headerBackgroundColor: #222222;
$widthContainer: 1140px;
$fontRegular: "Lato-Regular";
$fontLight: "Lato-Light";
$fontBold: "Lato-Bold";
$fontItalic: "Lato-Italic";
